@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-600 text-white;

  --secondary1: #8284FA;
  --secondary2: #4EA8DE;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid var(--secondary2);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 